.title {
  font-family: $font-main;
  font-size: 30px;
  margin-left: 45px;
  margin-top: 20px;
}

.subTittle {
  font-family: $font-main;
  font-size: 20px;
  margin-left: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form {
  margin-left: 20px;
  margin-top: 15px;
}

.label {
  font-family: $font-main;
}

.tvShow {
  width: 250px;
  height: 35px;
}

.button {
  font-family: $font-main;
  width: 70px;
  height: 35px;
  background-color: $colorBrand1;
  color: $colorWhite;
  border-radius: 5px;
}

.footer {
  margin: 40px 0 40px 20px;
}

.heart__img {
  width: 14px;
  height: 14px;
}

.paragraphFail {
  margin: 20px 0 0 150px;
}

.tvShowName {
  font-family: $font-main;
  width: 300px;
  font-size: 24px;
  color: $colorBrand3;
  margin-top: 30px;
}

.tvShowImgFav {
  margin-left: 15px;
  margin-top: 20px;
}

.tvShowContainer {
  background-color: $colorBrand2;
  width: 300px;
}

.tvShowContainerItem {
  width: 300px;
  display: flex;
  justify-content: center;
}

.tvShowItemFav {
  background-color: $colorBrand3;
  color: $colorBrand2;
  font-family: $font-main;
  font-size: 24px;
  width: 300px;
}

.delete-btn {
  width: 50px;
  border-radius: 5px;
  background-color: $colorBrand1;
  color: $colorWhite;
  margin-left: 15px;
}

.resetBtn {
  font-family: $font-main;
  width: 70px;
  height: 35px;
  background-color: $colorBrand1;
  color: $colorWhite;
  border-radius: 5px;
  margin-top: 30px;
}

.tvShowItemHidden {
  display: none;
}
